* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}

body {
	background: url(../images/background.jpg);
	background-size: cover;
	font-family: 'RobotoCondensed-Bold';
}

img {
	width: 100%;
}
.wrap {
	max-width: 1170px;
	margin: auto;
}
h2{
	font-size: 26px;
	color: #fff;
}
p {
	font-size: 20px;
	color: #fff;
}
.skills{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 20px;
	position: absolute;
	right: 0;
	top: 0;
}
.skills .images{
	display: flex;
	flex-direction: column;
}
.skills .images img{
	margin: 7px 25px;
	width: 7vh;
}
.info .wrap{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 40px;
}
.info .wrap .title{
	font-size: 44px;
	margin-bottom: 10px;
}
.samples .wrap{
	text-align: center;
	margin-top: 90px;
}
.samples .wrap .slider1{
	margin-bottom: 100px;
}
.samples .wrap .slider1 h2{
	text-shadow: 2px -1px 5px rgba(11, 0, 0, 1);
	font-size: 38px;
	margin-bottom: 30px;
}
.samples .wrap .slider2 h2{
	font-size: 38px;
}

.samples .wrap .slider1 a{
	display: inline-block;
	margin: 10px;
	max-width: 400px;
}
.samples .wrap .slider2 a{
	display: inline-block;
	margin: 10px;
	font-size: 30px;
}
@media(max-width: 768px){
	.skills .images img{
		margin-top: 17px;
		width: 11vh;
	}
	h2{
		font-size: 30px;
	}
	.info .wrap .title{
		font-size: 42px;
		margin-top: 0;
	}
	.samples .wrap{
		margin-top: 60px;
	}
	.samples .wrap .slider1{
		margin-bottom: 40px;
	}
	.samples .wrap .slider1 h2{
		font-size: 30px;
	}
	.samples .wrap .slider2 h2{
		font-size: 26px;
	}
}
@media(max-width: 540px){
	.skills{
		display: none;
	}
	h2{
		font-size: 23px;
	}
	.info .wrap .title{
		font-size: 36px;
		margin-bottom: 20px;
	}
	.samples .wrap{
		margin-top: 40px;
	}
	.samples .wrap .slider1{
		margin-bottom: 45px;
	}
	.samples .wrap .slider1 h2{
		font-size: 30px;
	}
	.samples .wrap .slider2 h2{
		font-size: 26px;
	}
}