html, body{
    margin: 0;
    background: #eee;
	text-align: center;
}

h2{
	display: inline-block;
	font-size: 30px;
	font-weight: 100;
	margin: 10px;
}
.t1{
	display: inline-block;
    font-size: 30px;
}