.popupBlur{
	filter: blur(3px);
}
.wrap{
	transition: filter .2s;
}
.overlay{
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	cursor: pointer;
}

.popup{
	background: #fff;
    width: 100%;
    position: absolute;
	padding: 5px 20px 13px 20px;
	box-shadow: 0px 0px 20px #000;
	z-index: 20;
}
.block-popup{
	display: none;
	position: absolute;
	right: 0;
	left: 0;
	top: 150px;
	width: 50%;
	margin: 0 auto;
}
.button{
	position: absolute;
	right: -25px;
	top: -5px;
	font-size: 30px;
	cursor: pointer;
	z-index: 1000;
}
.active{
	display: block;
}